// COLORS
$color-black: #000;
$color-bg: #0a0b1b;
$color-white: #fff;
$color-green: #05c205;
$color-gray: #a5a5a5;
$color-blue: #0cf;

// FONTS
$font-popins: 'Poppins', Arial, sans-serif;
$font-Drunk: 'Drunk', Arial, sans-serif;

// TRANSITIONS
$transition-duration: 0.35s;
$transition-timing-function: ease;
$transition: $transition-duration $transition-timing-function;

// SETTINGS
$desktop-xxl: 2560;
$desktop-xl: 1920;
$desktop-lg: 1680;
$desktop-md: 1440;
$desktop-sm: 1366;
$desktop-xs: 1280;
$desktop: 1024;
$tablet: 1024;
