.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: vc(9) vc(16);
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 48px;
    }

    &__points {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        padding: 8px 12px;
        font-weight: 800;
        font-size: vc(12);
        line-height: vc(16);
        text-shadow: 0 1px 0 rgba(115, 101, 255, 0.4);
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.6);
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(25px);
        gap: 4px;

        svg {
            flex-shrink: 0;
            width: vc(12);
            height: vc(12);
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: vc(20);

        a {
            display: block;
            width: vc(24);
            height: vc(24);
            color: rgba($color-white, 0.6);

            &.active {
                color: $color-white;
            }
        }
    }

    &__icon {

    }
}
